/* ASIDE (index)* * MAIN (personaliizadas)*/

.aside_index{
    grid-area: aside1;
}

.main-personalizadas{
    grid-area: main3;
}

.aside_index{
    background-color: $color-secundario;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;

    .aside_index_form{
        // margin: 25px;

        textarea{
            margin: 20px;
        }
    }
}

.main-personalizadas{
    @extend .aside_index;
}

.aside_index_h3{
    font-size: 50px;
    font-family: 'Cinzel', serif;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.main-personalizadas_h3{
    @extend .aside_index_h3;
}

.aside_index_form{
    width: 100%;
    @include flex(flex, column, wrap, center, center)
}

.main-personalizadas_form{
    @extend .aside_index_form;
}

.main-personalizadas{

    form{
        animation-name: entrada-lateral-derecha;
        animation-duration: 3s;
        margin: 0px;
    }

    @keyframes entrada-lateral-derecha{
        0%{
            transform: translateX(500px);
        }
    
        100%{
            transform: translateX(0px);
        }
    }
}

.aside_index form label, .main-personalizadas form label{
    color: #ffffff;
    margin-top: 30px;
}

.aside_index form input, .main-personalizadas form input{
    @include width-height (300px, 30px);
    border-radius: 5px;
    margin-top: 20px;
}