/* FOOTER* (todos)*/

.footer-contenedor{
    grid-area: footer2;
}

.footer-talles{
    grid-area: footer3;
}

.footer-personalizadas{
    grid-area: footer4;
}

footer {
    background-color: rgb(255, 255, 154);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: footer;

    .footer-content{
        display: flex;
        flex-wrap: wrap;

            h4{
                font-size: 25px;
                font-family:'Comfortaa', cursive;
                font-weight: $weight*6;
                margin: 50px 0px 25px 20px;
            }
        
            div ul li{
                font-size: 14px;
                font-family:'Comfortaa', cursive;
                font-weight: $weight*6;
                line-height: 30px;
                list-style: none;
                color: grey;
                @include flex(flex, column, wrap, space-around, center);
                margin: 25px;
        
                a{
                    color: grey;
                    text-decoration: none;
                }
        
                .contenedor_wpp{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
        
                    img{
                        @include width-height (25px, 25px);
                    }
                }
        
                .contenedor_email{
                    @extend .contenedor_wpp;
    
                    img{
                        @include width-height (25px, 25px);
                    }
                }
        
                .contenedor_ubicacion{
                    @extend .contenedor_wpp;
        
                    img{
                        @include width-height (25px, 25px);
                    }
                }
            }
        }

        .contenedor_mapa{
            padding: 50px 0px;
            display: flex;
            justify-content: end;
            @include width-height (380px, 350px);
        }
    
        .footer_redes{
    
            .contenedor_instagram{
    
                img{  
                    @include width-height (40px, 40px);
                }
            }
    
            .contenedor_facebook{
    
                img{
                    @include width-height (40px, 40px);
                }
            }
        }

    .row{
        align-items: center;
        margin: 0px;
        justify-content: center;
        text-align: center;

        .col{
            align-items: center;
        }
    }

    .copyright{
        background-color: $color-primario;
        @include flex(flex, row, wrap, center, flex-end);
    }
}

.container{
    max-width: 100%;
}