/* FOOTER* (todos)*/

.footer-contenedor{
    grid-area: footer2;
}

.footer-talles{
    grid-area: footer3;
}

.footer-personalizadas{
    grid-area: footer4;
}

footer {
    background-color: rgb(255, 255, 154);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: footer;

    .footer-content{
        display: flex;
        flex-wrap: wrap;

        h4{
            font-size: 25px;
            font-family:'Comfortaa', cursive;
            font-weight:600;
            margin: 50px 0px 25px 20px;
        }
    
        div ul li{
            font-size: 10px;
            font-family:'Comfortaa', cursive;
            font-weight: 600;
            line-height: 30px;
            list-style: none;
            color: grey;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 25px;
            align-items: center;
    
            a{
                color: grey;
                text-decoration: none;
            }
    
            .contenedor_wpp{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
    
                img{
                    height: 20px;
                    width: 20px;
                }
            }
    
            .contenedor_email{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
    
                img{
                    height: 20px;
                    width: 20px;
                }
            }
    
            .contenedor_ubicacion{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
    
                img{
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }

    .contenedor_mapa{
        padding: 50px 0px;
        display: flex;
        height: 300px;
        width: 300px;
    }

    .footer_redes{

        .contenedor_instagram{

            img{  
                height: 40px;
                width: 40px;
            }
        }

        .contenedor_facebook{

            img{
                height: 40px;
                width: 40px;
            }
        }
    }

    .row{
        align-items: center;
        margin: 0px;
        justify-content: center;
        text-align: center;

        .col{
            align-items: center;
        }
    }

    .copyright{
        background-color: gold;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;    
        justify-content: center;
        align-items:flex-end;
    }
}

.container{
    max-width: 100%;
}