/* GRID SECTION */


body {
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.body_talles {
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "nav3"
    "header3"
    "main2"
    "footer3";
}

