/* HEADER (todos) */


.header-contenedor{
    grid-area: header2;
}

.header-talles{
    grid-area: header3;
}

.header-personalizadas{
    background-size: 100%;
    grid-area: header4;
}

.header-all{
    position: sticky;
    top: 0;
    z-index: 5;
}

