@import "bootstrap/bootstrap.scss";
@import "variables";
@import "grid";
@import "nav";
@import "header";
@import "main-index";
@import "aside-index-main-pers";
@import "main-buzos-remeras-etc";
@import "main-talles";
@import "footer";
@import "mediaqueries"; 

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
}

